<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteData.siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <header id="topBar">
      <img class="logo" src="/Abdul-Jinadu.jpg" height="90px" width="280px">
      <h1 id="mainTitle"><%=siteData.siteName%></h1>
      <div class="vertical">
        <img class="profilePic" src="/Abdul-Jinadu.jpg" height="65px" width="65px">
        <div class="profilePane">
          <% if (isLoggedIn) { %>
            <a href="users/logout">Log Out</a>
          <% } else { %>
            <a href="users/login">Log In</a>
          <% } %>
        </div>
      </div>
    </header>
    <div class="mainBody">
      <div id="sideNav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/events/list">Events</a>
      </div>
      <div class="indexMainBody">
        <h1>About <%=siteData.siteName%></h1>
        <p>Welcome to EventEnthusiast - the best event scheduling and ticketing system out there!</p>
        <p>Click your icon in the top right to login/logout. Click "Events on the left navigation pane to see events.</p>
        <p>Or, head back home to search for events, or schedule an event of your own!</p>
      </div>
    </div>
  </body>
</html>