<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteData.siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('navigationbar.ejs') %>
    <div class="mainBody">
      <%- include('sidebar.ejs') %>
      <div class="indexMainBody">
        <h1>About <%=siteData.siteName%></h1>
        <p>Welcome to EventEnthusiast - the best event scheduling and ticketing system out there!</p>
        <p>Click your icon in the top right to login/logout. Click "Events on the left navigation pane to see events.</p>
        <p>Or, head back home to search for events, or schedule an event of your own!</p>
      </div>
    </div>
  </body>
</html>