<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteData.siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%=siteData.siteName%></h1>
    <h2>Event booked:</h2>
    <p>You have booked tickets for <%=event.name%>.</p>
    <p>confirmation will be sent to <%=event.email%></p>
    <a href="/">Back to home</a>
  </body>
  <script>
  </script>
</html>
