<!doctype html>
<html>

<head>
  <title>Welcome to <%=siteData.siteName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <%- include('navigationbar.ejs') %>
    <div class="mainBody">
      <%- include('sidebar.ejs') %>
        <div class="indexMainBody">
          <h1>Welcome to <%=siteData.siteName%>
          </h1>
          <p><a href="events/search">Search for events</a></p>
          <p><a href="events/addevent">Schedule a new event</a></p>
        </div>
    </div>
</body>

</html>