<header id="topBar">
    <img class="logo" src="/logo.png" height="90px" width="280px">
    <h1 id="mainTitle"><%=siteData.siteName%></h1>
    <div class="vertical">
      <% if (user.isLoggedIn) { %>
        <img class="profilePic" src="/loggedin.png" height="65px" width="65px">
      <% } else { %>
        <img class="profilePic" src="/notloggedin.png" height="65px" width="65px">
      <% } %>
      <div class="profilePane">
        <% if (user.isLoggedIn) { %>
          <a href="/users/logout">Log Out</a>
          <a href="/users/myevents/<%=user.userId%>">My events</a>
        <% } else { %>
          <a href="/users/login">Log In</a>
        <% } %>
      </div>
    </div>
</header>
