<!doctype html>
<html>

<head>
  <title>Search <%=siteData.siteName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <h1>Search <%=siteData.siteName%>
  </h1>
  <form action="search_result" method="GET">
    <p>Event name:</p>
    <input id="search_box" type="text" name="search_text" value="">
    <h1>Filters:</h1>
    <p>date:<input type="date" id="date" name="date" value=""></p>
    <p>
      <input type="range" id="ticketCost" name="ticketCost" min="0" max="500" step="10" value="250"
        oninput="updateCostValue(this.value)">
    <p id="ticketCostValue">TIcket cost up to: £250</p>
    </p>
    <input type="submit" value="Search">
  </form>
</body>
<script>
  function updateCostValue(val) {
    document.getElementById('ticketCostValue').innerText = 'Ticket cost up to: £' + val;
  }
</script>

</html>