<!doctype html>
<html>
  <head>
    <title>Select city for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Select weather city</h1>
    <form action="citynow" method="POST">
      <p>What city do you want the weather of?</p>
      <input id="city" type="text" name="city">
      <input type="submit" value="citySelection" >
    </form>
  </body>
</html>